.ToDoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-background-color);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #3e3e3e;
}
.ToDoItem:hover {
    background: #363636;
}
.Icon-check {
    color: inherit;
    font-size: 20px;
}
.Icon-check--active {
    color: greenyellow;
}
.ToDoItem-p {
    text-decoration: none;
}
.ToDoItem-p--completed {
    text-decoration: line-through;
}
.Icon-delete {
    color: inherit;
    font-size: 20px;
}
.Icon-delete:hover{
    color: salmon;
}
