.AddToDoButton {
    position: absolute;
    right: 4vw;
    bottom: 4vh;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 112, 59);
    font-size: 35px;
    color: var(--text-main-color);
    transform: rotate(0);
    transition: .3s ease;
}
.AddToDoButton:hover {
    background-color: coral;
    transform: rotate(224deg);
    cursor: pointer;
}