body {
    margin: 0;
    background-color: #202020;
    color: #dfe2df;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
body > div {
    display: grid;
    place-items: center;
}