.Taskit-title {
    font-size: 28px;
    font-weight: bold;
    color: #64acff;
}
.ToDoCounter-title .Taskit-title {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}
.ToDoCounter-title > span:nth-child(1) {
    color: #64acff;
}
.ToDoCounter-title > span:nth-child(2) {
    color: #e5675f;
}